@model HCL_HRIS.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>User Profile</h2>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sap_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sap_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.group_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group.group_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_role)
        </dd>

        <dt>
            Team Leader
        </dt>

        <dd>
            @Html.DisplayFor(model =>  model.group.user.name)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Go Back", "Index")*@
    <a href="javascript:history.back()">Go Back</a>
</p>
