@using System.Globalization;
@model IEnumerable<HCL_HRIS.Models.announcement>
@{
ViewBag.Title = "Home Page";

  if("Team Leader".Equals(ViewBag.user_role)){ 
            Response.Redirect("~/Home/TeamLead");
  }
} 
<style>
    .fc-bgevent {
        color: white !important;
        font-weight: bolder;
        opacity: 1 !important;
    }

    .fc-title {
        font-weight: bold;
        text-align: center !important;
    }

    .fc-content {
        text-align: center;
    }
</style>
<div class="row ">
    <div class="col-md-6" style="min-height:800px;padding:0px">
        <div class="card no-rad-brtr" style="min-height:800px;padding:0px">
            <div class="card-header" style="padding:4.5px;">
                Agent Dashboard
            </div>
            <div class="card-body" style="padding:3px;">
                
                <div class="card" style="margin-top:5px;">
                    @*<div class="card-header" style="padding:3px;">
                Productivity Score
            </div>*@
                    <div class="card-body" style="padding:3px;font-size:0.75rem; overflow-x:auto;">
                        <table class="table-bordered table text-center" style="color:black;overflow-x:scroll;padding-bottom:0px;margin-bottom:0px;font-size:large;background-color:#93a9eb;color:ghostwhite;font-weight:bold;table-layout: fixed;">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" style="padding:5px;background-color:#2a4796;color:whitesmoke;">As of @DateTime.Now.ToLongDateString() Performance</td>
                                </tr>
                                <tr>
                                    <td colspan="3">SCORE <br /> <h1 style="font-weight:bold;font-size:95px;margin-top:15px;"><a href="@Url.Action("Details")#minimize" style="text-decoration:none;color:whitesmoke;">@ViewBag.OverallScore</a></h1></td>
                                    <td>Rank <br /><br /> <h1 style="font-weight:bold;">18th </h1> Of 32</td>
                                </tr>
                                <tr>
                                    <td><span style="font-style:oblique;">Prod </span><br /> <h4 style="font-weight:bold;"><a href="@Url.Action("Details")#Prod" style="text-decoration:none;color:whitesmoke;">@ViewBag.ProdScore</a></h4></td>
                                    <td><span style="font-style:oblique;">Quality </span><br /> <h4 style="font-weight:bold;"><a href="@Url.Action("Details")#Quality" style="text-decoration:none;color:whitesmoke;">@ViewBag.QAScore</a></h4></td>
                                    <td><span style="font-style:oblique;">Behavior </span><br /> <h4 style="font-weight:bold;"> 4.3</h4></td>
                                    <td><span style="font-style:oblique;">Compliance </span><br /> <h4 style="font-weight:bold;"> 4.2</h4></td>
                                </tr>
                            </tbody>
                        </table> 
                                <table class="table-bordered table text-center" style="color:black;overflow-x:scroll;padding-bottom:0px;margin-bottom:0px;font-size:large;background-color:#93a9eb;color:ghostwhite;font-weight:bold;table-layout: fixed;">
                                <tr>
                                    <td style="font-weight:bolder;padding:6px;background-color:#2a4796;" colspan="2">MANAGER</td>
                                    <td style="font-weight:bolder;padding:6px;background-color:#2a4796;" colspan="2">SUPPORT</td>
                                </tr>
                                <tr>
                                    <td style="padding:6px;background-color:#4e73df;" colspan="2">@ViewBag.manager</td>
                                    <td style="padding:6px;background-color:#4e73df;" colspan="2" rowspan="3">Kimberley Pascual (QA) <br />Donna Salting (WF) <br />Ma. Rose Pachica (Trainer) <br />Gianina Ciriaco (HR) <br /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bolder;padding:6px;background-color:#2a4796  ;" colspan="2">TEAM LEAD</td>
                                </tr>
                                <tr>
                                    <td style="padding:6px;background-color:#4e73df;" colspan="2">@ViewBag.leader_name</td>
                                </tr> 
                                </table>
                    </div>
                </div>
                <div class="col-12 card no-rad-bltl" style="min-height:35%;padding:0px;border-top-right-radius: 0px !important;">
                    <div class="card-header" style="padding:4.5px;">
                        Chat
                    </div>
                    <div class="card-body" style="padding:3px;padding-bottom:10px;font-size:0.75rem;">
                        <ul class="nav nav-tabs" style=" ">
                            <li class="nav-item">
                                <a class="nav-link active " id="tl_click">Team Leader</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="team_click">Team Members</a>
                            </li>
                        </ul>
                        <!-- Chat Box -->
                        <div class="chatbox" id="chatbox">
                        </div>
                        <form onsubmit="return false">
                            <div class="input-group mb-3" style="border-top-left-radius:0px;border-top-right-radius:0px;margin-bottom:0px !important;">
                                <input type="text" id="chatMessage" required class="form-control" style="border-top-left-radius:0px;" placeholder="Enter Message..." aria-label="Enter Message..." aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="tlSend" style="border-top-right-radius:0px;" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding:0px">
        <div class="col-12 no-rad-bltl" style="min-height:43%;height:1px;border-bottom-right-radius: 0px !important;">
            <div class="row" style="min-height: 100%;">
                <div class="col-6 card no-rad-bltl" style="padding:0px;border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important;">
                    <div class="card-header" style="padding:4.5px;">
                        Announcements
                    </div>
                    <div class="card-body" style="font-size:0.9rem;">
                        @foreach (var item in Model)
                        {
                            <h5>@item.announcement_title</h5>
                            <p>@item.announcement_details</p>
                        }
                    </div>
                </div>
                <div class="col-6 card no-rad-bltl" style="padding:0px;border-bottom-right-radius: 0px !important;">
                    <div class="card-header" style="padding:4.5px;">
                        Track Top 5 Performers
                    </div>
                    <div class="card-body" style="padding:4.5px;font-size:0.75rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">1. Agent 1</li>
                            <li class="list-group-item">2. Agent 2</li>
                            <li class="list-group-item">3. Agent 3</li>
                            <li class="list-group-item">4. Agent 4</li>
                            <li class="list-group-item">5. Agent 5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card no-rad-bltl" style="min-height:57%;padding:0px;border-top-right-radius: 0px !important;">
            <div class="card-header" style="padding:4.5px;">
                Attendance and Pay Hours
            </div>
            <div class="card-body" style="padding:3px;font-size:0.75rem;text-align:center;">
                <span style="font-weight:bold;font-size:large">@DateTime.Now.ToString("MMMM", CultureInfo.CreateSpecificCulture("en"))</span>
                <a href="~/attendance/Index" class="btn btn-outline-dark float-right">See All...</a>
                <div id="calendar" style="width:75%;margin-left:25px;"></div>
            </div>
        </div>
 
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#clicky').click(function () {
            $('.hideable').toggle().animate();
            $(this).toggleClass('fa-window-minimize fa-window-maximize');
        });
        $('#clicky2').click(function () {
            $('.hideable2').toggle().animate();
            $(this).toggleClass('fa-window-minimize fa-window-maximize');
        });
        var uri = '../api/chats';
        reloadChat();

        $("#tlSend").click(function () {
            if ($("#chatMessage").val() == "") {
                return;
            }
            // Post New Chat
            var chat = {
                chat_from: @ViewBag.user.user_id,
                chat_message: $("#chatMessage").val(),
                chat_to: @ViewBag.leader_sap,
                datetime_read: null,
                datetime_sent: null,
            };
            $.ajax({
                type: "POST",
                data: JSON.stringify(chat),
                url: uri,
                contentType: "application/json"
            }).done(function (res) {
                    clearChat();
                    console.log('res', res);
                     $("#chatMessage").val("")
                    $.getJSON(uri).done(function (data) {
                            $.each(data, function (key, item) {
                            // Add a list item for the product.
                                if (item.chat_from == @ViewBag.leader_sap) {
                                    $("#chatbox").append('<span style="color:gray"><b> @ViewBag.leader_name : </b>' + item.chat_message + '</span><br />');
                                } else {
                                    $("#chatbox").append('<span> @ViewBag.name : ' + item.chat_message + '</span><br />');
                                }
                            });
                    $("#chatbox").scrollTop( 100000 );
                    });
                $("#chatMessage").focus();
            });
        });
    });

    $('#team_click').click(function () {
        $(this).tab('show');
        clearChat();
        reloadGroupChat();
    });
    $('#tl_click').click(function () {
        $(this).tab('show');
        clearChat();
        reloadChat();
    });
    //Attendance Calendar
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid','bootstrap' ],
            themeSystem: 'bootstrap',
            eventOrder: 'eventProperty',
            fixedWeekCount: false,
            header: false,
            eventRender : function(info) {
                   const props = info.event.extendedProps,
                      rendering = info.event.rendering;
                   if(rendering == "background") {
		            $(info.el).text(info.event.title);
		            $(info.el).css({ "color": "#ffffff !important", "text-align": "center", "vertical-align": "middle" });
                 }
            }
        });

    //calendar.addEvent({
    //    title: 'A',
    //    start: '2020-01-02',
    //    allDay: true,
    //    backgroundColor: "Red",
    //    textColor: "white",
    //    rendering: 'background'
    //});
    //calendar.addEvent({
    //    title: '9.5 hrs',
    //    start: '2020-01-03',
    //    allDay: true,
    //    backgroundColor: "Green",
    //    textColor: "white",
    //    rendering: 'background'
    //});
    //     calendar.addEvent({
    //    title: '30 mins',
    //    start: '2020-01-06',
    //    allDay: true,
    //    backgroundColor: "Orange",
    //    textColor: "white",
    //    rendering: 'background'
    //     });
   @foreach (var mins in ViewBag.minsCollection) {
        <text> 
  
          calendar.addEvent({
            title: '@string.Format("{0:0.#}",mins.minsLogged/60.0) hrs' ,
            start: '@mins.minsDate.ToString("yyyy-MM-dd")',
            allDay: true,
            backgroundColor: "Green",
            textColor: "white",
            rendering: 'background'
        });
        </text>
    }

    calendar.render();
    });

    // Utilities
    function clearChat(){
        $('#chatbox > span').remove();
        $('#chatbox > br').remove();
    }

    function reloadChat() {
        var uri = '../api/chats';
        $.getJSON(uri).done(function (data) {
            console.log(data);
            $.each(data, function (key, item) {
                // Add a list item for the product.
                if (item.chat_from == @ViewBag.leader_sap) {
                    $("#chatbox").append('<span style="color:gray"><b> @ViewBag.leader_name  : </b>' + item.chat_message + '</span><br />');
                } else {
                    $("#chatbox").append('<span> @ViewBag.name : ' + item.chat_message + '</span><br />');
                }
                $("#chatbox").scrollTop( 100000);
            });
        });
        }

    function reloadGroupChat() {
        var uri = '../users/GetGroupChats';
        $.getJSON(uri).done(function (data) {
            console.log(data);
            $.each(data, function (key, item) {
                $("#chatbox").append('<span style="color:gray"><b> ' + item.user.name + '  : </b>' + item.chat_message + '</span><br />');
                $("#chatbox").scrollTop( 100000);
            });
        });
    }
</script>