@model HCL_HRIS.Models.track

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>track</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.track_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_manager)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.track_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
