@model HCL_HRIS.Models.group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.group_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group_leader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_leader)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.group_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
