@model HCL_HRIS.Models.group

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Group</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.group_id)

        <div class="form-group">
            @Html.LabelFor(model => model.group_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.group_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.group_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.group_leader, htmlAttributes: new { @class = "control-label col-md-2", @autocomplete = "off" })
            <div class="col-md-10">
                <input class="form-control text-box single-line ui-autocomplete-input" id="name_container" value="">
                @Html.EditorFor(model => model.group_leader, new { htmlAttributes = new { @class = "form-control hidden" } })
                @Html.ValidationMessageFor(model => model.group_leader, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.track_id, htmlAttributes: new { @class = "control-label col-md-2", @autocomplete = "off" })
            <div class="col-md-10">
                <input class="form-control text-box single-line ui-autocomplete-input" id="track_container" value="">
                @Html.EditorFor(model => model.track_id, new { htmlAttributes = new { @class = "form-control hidden" } })
                @Html.ValidationMessageFor(model => model.track_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        $("#name_container").val($("#group_leader").val());
        $("#track_container").val($("#track_id").val());
      var array2; 
    $("#name_container").autocomplete({
        minLength: 0,
        source: function (request, response) {
            if (array2) {
                response($.ui.autocomplete.filter(array2, request.term));
            } else {
                $.ajax({
                    url: '@Url.Action("GetUsers", "groups")',
                    cache: true,
                    success: function (data) {
                        array2 = $.map(data, function (val, item) {
                            return {
                                label: val.sap_id+ " - " +val.name  ,
                                value: val.sap_id+ " - " +val.name  ,
                                id: val.user_id
                            }
                        });
                    }
                })
            }
        },
            select: function (event, ui) {
                 $('#group_leader').val(ui.item.id);
            }
    }).focus(function() {
        $(this).autocomplete('search', $(this).val())
    });
    var array;
    $("#track_container").autocomplete({ 
        minLength: 0,
        source: function (request, response) {
            if (array) {
                response($.ui.autocomplete.filter(array, request.term));
            } else {
                $.ajax({
                    url: '@Url.Action("GetTracks", "groups")',
                    cache: true,
                    success: function (data) {
                        array = $.map(data, function (val, item) {
                            return {
                                label: val.track_name  ,
                                value: val.track_name  ,
                                id: val.track_id
                            }
                        });
                    }
                })
            }
        },
            select: function (event, ui) {
                 $('#track_id').val(ui.item.id);
            }
    }).focus(function() {
        $(this).autocomplete('search', $(this).val())
    }); 
    });
</script>