@model IEnumerable<HCL_HRIS.Models.group>
@using System.Data.SqlClient;
@using System.Data;

@{
    ViewBag.Title = "Group Management";
}

<h2>Group Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.group_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group_leader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.track_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.group_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.sap_id) - @Html.DisplayFor(modelItem => item.user.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.track.track_name) 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.group_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.group_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.group_id })
            </td>
        </tr>
    }

</table>
<script>
</script>